<div class="sign-in-container">
  <div class="sign-in-content">
    <form (ngSubmit)="submit()" #signInForm="ngForm">
      <div class="logo">
        <img src="assets/pictures/logo.svg" width="150px" alt="Logo" />
      </div>
      <div *ngIf="signInViewModel.error" class="form-error-message">
        {{ signInViewModel.errorMessage }}
      </div>
      <div class="field">
        <label for="sign-in-login">Login</label>
        <input
          type="text"
          autocomplete="off"
          class="form-control full-width"
          id="sign-in-login"
          required
          [(ngModel)]="credentials.login"
          name="login"
          #login="ngModel"
        />
        <div
          class="field-error"
          id="sign-in-login-error"
          *ngIf="login.invalid && login.dirty"
        >
          Login is required
        </div>
      </div>
      <div class="field">
        <label for="sign-in-password">Password</label>
        <input
          type="password"
          autocomplete="off"
          class="form-control full-width"
          id="sign-in-password"
          required
          [(ngModel)]="credentials.password"
          name="password"
          #password="ngModel"
        />
        <div
          class="field-error"
          id="sign-in-password-error"
          *ngIf="password.invalid && password.dirty"
        >
          Password is required
        </div>
      </div>
      <div class="action">
        <button
          id="sign-in-submit-button"
          [disabled]="!signInForm.form.valid || signInViewModel.loading"
          type="submit"
          class="btn full-width"
        >
          Connexion
        </button>
      </div>
    </form>
  </div>
</div>
